body, html
{
margin: 0;
padding: 0;
}

.header-css
{
border: solid rgb(252, 200, 29);
background-color: #64B5F6;
}

.aside-css
{
border: solid rgb(239, 24, 32);
background-color: #263238;
}

.article-1
{
border: solid rgb(185, 122, 89);
}

.article-2
{
border: solid rgb(185, 122, 89);
}

.article-3
{
border: solid rgb(185, 122, 89);
}

.article-4
{
border: solid rgb(185, 122, 89);
}

.section-css
{
border: solid rgb(71, 71, 191);
}

.article-5
{
border: solid rgb(185, 122, 89);
}

.article-6
{
border: solid rgb(185, 122, 89);
}

.article-7
{
border: solid rgb(185, 122, 89);
}

.article-8
{
border: solid rgb(185, 122, 89);
}

.img-cv 
{
border: solid #FFEE58;
border-radius: 50%;
}
.text-bold1
{

}    

.text-bold2
{

} 

.text-blue
{

} 

.text-aside
{

}

.text-bold-section
{
    
}

.hr-1
{
margin-top: -20px;    
margin-bottom: 20px;
}

.hr-2
{
margin-top: -10px;    
margin-bottom: 20px;  
}

.hr-3
{ 
margin-top: -10px;    
margin-bottom: 20px;      
}

.hr-4
{
margin-top: -10px;    
margin-bottom: 20px;      
}

.hr-5
{
margin-top: -10px;    
margin-bottom: 20px;   
}
