body, html
{
margin: 0;
padding: 0;
}

.header-css
{
background-color: #78909C;
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 20px;
}

.aside-css
{
background-color: #BDBDBD;
}

.first-name
{
color: white;
}

.contact-box
{
background-color: #78909C;
}

.information-box
{

background-color: #78909C;
}
.competences-box
{
background-color: #78909C;
}

.hobby-box
{
background-color: #78909C;
}

.img-cv 
{  

border-radius: 50%;
display: flex;
margin: 20px auto;
width: 50%;
margin-top: -10px;
padding-top: 20px;
max-width: 320px;
}

.order-icon
{
display: flex;
justify-content: space-around;
margin-top: 1em;
margin-bottom: 1em;
padding-right: 2px;
}

.order-img
{
display: flex;
justify-content: space-around; 
margin-top: 1em;
margin-bottom: 1em;   
}

.img-computer
{
border: solid 3px;
border-radius: 100%; 
padding: 3px;   
}

.img-cycling
{
border: solid 3px;
border-radius: 100%; 
padding: 3px; 
}

.img-illustrateur
{
border: solid 3px;
border-radius: 100%; 
padding: 3px; 
}

.img-briefcase
{
margin-right: 10px;  
}

.img-pencil
{
margin-right: 2px;  
}

.img-graduation-cap
{
margin-right: 10px;    
}

.text-police1
{
font-family: 'Roboto', sans-serif;
text-align: center;
}    

.text-police2
{
font-family: 'Roboto', sans-serif;
text-align: center;
} 

.text-police-align
{
font-family: 'Roboto', sans-serif;
text-align: center;
} 

.text-police
{
font-family: 'Roboto', sans-serif;
text-align: center;
} 

.text-aside
{
font-family: 'Roboto', sans-serif;
font-size: 0.9em;
}

.text-aside-information
{
text-align: center;
font-size: 0.9em; 
padding-right: 10px;       
}

.text-contact-align
{
padding-left: 10px;
}

.text-align-section
{
font-family: 'Roboto', sans-serif;    
}

.text-icone
{
font-family: 'Roboto', sans-serif;
} 

.text-police-align
{
padding-top: 10px;
padding-bottom: 10px;        
}

.recommandations-text
{ 
font-family: 'Roboto', sans-serif;  
}

li
{
font-family: 'Roboto', sans-serif;
margin-top: 1em;
margin-bottom: 1em;
padding-left: 10px;      
}

p
{
font-family: 'Roboto', sans-serif;
margin-top: 1em;
margin-bottom: 1em;
line-height: 1.5; 
padding-left: 10px;  
}

ul
{
margin-top: 1em;
margin-bottom: 1em;
}

h2
{
font-family: 'Roboto', sans-serif;
padding-left: 10px;
font-size: 1.17em;    
}

h4
{
font-family: 'Roboto', sans-serif;    
margin-top: 1em;
margin-bottom: 1em;
padding-left: 10px;    
}

.hr-1
{
width: 20%;    
border: solid 1.5px;    
color: rgb(255, 255, 255);    
margin-top: -16px;
display: block;        
}

.hr-2
{
border: solid 2px;    
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px; 
}

.hr-3
{     
border: solid 2px;    
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px;      
}

.hr-4
{    
border: solid 2px;
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px;      
}

.article-8
{
padding-bottom: 1px;        
}

@media only screen and (min-width: 768px) 
{

.column
{
display: grid;
grid-template-columns: 2fr 5fr;
width: 100%;
height: 100%;
grid-template-areas: 
        "aside header"
        "aside section"
}    
   
.img-cv 
{  
border-radius: 50%;
display: flex;
margin: 20px auto;
width: 60%;
max-width: 320px;
margin-top: 1px;
}

.aside-css
{    
background-color: #BDBDBD;
order: 1;
grid-area: aside;
}

.header-css
{       
background-color: #78909C;
justify-content: start;
padding-left: 30px;
padding-top: 50px;
margin-bottom: 60px;
grid-area: header;
}


.section-css
{  
grid-area: section;
}

.recommandations-flex
{
display: flex;
}

.display-block-content
{
display: flex;    
}

.display-block-text-left
{
display: flex;
flex-direction: column;
width: 165px;
}

.display-block-text-right
{
display: flex;
flex-direction: column;
}

.hr-1
{
width: 20%;    
border: solid 1.5px;    
color: rgb(255, 255, 255);    
margin-top: -16px;
display: block;        
}

.hr-2
{
border: solid 2px;    
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px;
width: 100%; 
}

.hr-3
{    
border: solid 2px;    
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px; 
width: 100%;     
}

.hr-4
{    
border: solid 2px;
color: #78909C;    
margin-top: -10px;    
margin-bottom: 30px;
width: 100%;      
}

.article-1
{
margin-top: 50px;
}

.article-2
{
margin-top: 50px;        
}

.article-8
{
margin-top: 280px;        
}

.img-computer
{
width: 20%;  
}

.img-cycling
{
width: 20%; 
}

.img-illustrateur
{
width: 20%;
}

.img-briefcase
{
width: 8%;  
}

.img-pencil
{
width: 8%;  
}

.img-graduation-cap
{
width: 8%;    
}

.text-icone
{
font-family: 'Roboto', sans-serif;
padding-left: 30px;
padding-right: 30px;
} 

.text-align-icone
{
text-align: start;
}

.display-block-text-left
{
padding-left: 30px;        
}

.display-block-text
{
padding-left: 30px;        
}

.text-align-paris
{
margin-top: -10px;        
}

.recommandations-text
{
margin-left: 16px;
margin-right: 20px;
}

}

@media only screen and (min-width: 1024px) 
{
.recommandations-text
{
margin-left: 16px;
margin-right: 100px;
}
        
}

@media only screen and (min-width: 1200px) 
{
.column
{
width: 55%;        
}

.recommandations-text
{
margin-left: 30px;
margin-right: 100px;
}

.text-aside-information
{
padding-left: 30px;
padding-right: 30px;       
}

.hobby-box
{
margin-top: 450px;        
}

.img-computer
{
width: 15%;  
}

.img-cycling
{
width: 15%; 
}

.img-illustrateur
{
width: 15%;
}

.img-briefcase
{
width: 5%;  
}

.img-pencil
{
width: 5%;  
}

.img-graduation-cap
{
width: 5%;    
}

}